[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/vim-git"]
	path = home/.vim/bundle/vim-git
	url = http://github.com/tpope/vim-git.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/ack.vim"]
	path = home/.vim/bundle/ack.vim
	url = http://github.com/mileszs/ack.vim.git
[submodule "home/.vim/bundle/vim-cucumber"]
	path = home/.vim/bundle/vim-cucumber
	url = http://github.com/tpope/vim-cucumber.git
[submodule "home/.vim/bundle/vim-javascript"]
	path = home/.vim/bundle/vim-javascript
	url = http://github.com/pangloss/vim-javascript.git
[submodule "home/.vim/bundle/vim-rails"]
	path = home/.vim/bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/snipmate"]
	path = home/.vim/bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
